#
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/
#
# Copyright (c) 2012 BigBlueButton Inc. and by respective authors (see below).
#
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
#

        location /playback/presentation/playback.html {
                return 301 /playback/presentation/0.81/playback.html?$query_string;
                # If you have recordings from 0.9.0 beta versions and are sure
                # that you will never want to play recordings made with
                # BigBlueButton 0.81, comment the line above and uncomment the
                # following line:
                #return 301 /playback/presentation/0.9.0/playback.html?$query_string;
                ### Uncomment the next three lines if you want to use password
                ### authentication (see dedicated files. Create /var/www/htpasswd
                ### as an empty file with 'touch /var/www/htpasswd'.
                # satisfy any;
                # auth_basic "Restricted";
                # auth_basic_user_file "/var/www/htpasswd";
                auth_request /auth;
                error_page 403 /bbb/index.html;
                error_page 401 /bbb/index.html;
        }

### The following block is necessary for using BBB2.3 or the BBB2.3 media
### player on your loadbalancer.
#        location /playback/presentation/2.0/playback.html {
#                return 301 /playback/presentation/2.3/$arg_meetingId?$query_string;
#        }
#        location /playback/presentation/2.3 {
#                root /srv/nfsroot/recordings/var/bigbluebutton;
#                try_files $uri /playback/presentation/2.3/index.html;
#                ### Uncomment the next three lines if you want to use password
#                ### authentication (see dedicated files. Create /var/www/htpasswd
#                ### as an empty file with 'touch /var/www/htpasswd'.
#                # satisfy any;
#                # auth_basic "Restricted";
#                # auth_basic_user_file "/var/www/htpasswd";
#                auth_request /auth;
#                error_page 403 /bbb/index.html;
#        }

        location /playback/presentation {
                root    /var/bigbluebutton;
                index  index.html index.htm;
                ### Uncomment the next three lines if you want to use password
                ### authentication (see dedicated files. Create /var/www/htpasswd
                ### as an empty file with 'touch /var/www/htpasswd'.
                # satisfy any;
                # auth_basic "Restricted";
                # auth_basic_user_file "/var/www/htpasswd";
                auth_request /auth;
                error_page 403 /bbb/index.html;
                error_page 401 /bbb/index.html;
        }

        location /presentation {
                root    /var/bigbluebutton/published;
                index  index.html index.htm;
                ### Uncomment the next three lines if you want to use password
                ### authentication (see dedicated files. Create /var/www/htpasswd
                ### as an empty file with 'touch /var/www/htpasswd'.
                # satisfy any;
                # auth_basic "Restricted";
                # auth_basic_user_file "/var/www/htpasswd";
                auth_request /auth;
                error_page 403 /bbb/index.html;
                error_page 401 /bbb/index.html;
        }

